* {
	padding: 0px;
	margin: 0px;
	color: white;
    list-style: none;
    text-decoration: none;
}

body {
    background: #d8d8d8;
    overflow-x: hidden;
    overflow: hidden;
    font-family: 'Ralewaybold', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

.mainWrapper {
    width: 100%;
    height: 100%;
}

.navMenuWrapper {
    float: left;
    height: 100%;
    width: 75px;
    position: fixed;
    background: #222;
    color: white;
}



div#contentWrapper {
    margin-left: 75px;
    width: calc(100% - 75px);
    height: 100%;
    position: relative;
}

.navLi {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    border-bottom: 1px solid #2f2f2f;
}
/*
li:first-child {
    background: #ec6f4f;
}
*/
li > a {
    font-size: 20px !important;
    height: 68%;
    width: 100%;
    color: #909090 !important;
}

li:hover a {
    color: white !important;
}

a.fa.fa-bars {
    color: white !important;
}

a.active {
    color: white !important;
}

.navBarFooter li {
    background: rgba(255, 0, 0, 0);
    bottom: 0px;
    position: absolute;
}

section.sectionStyle {
    height: 100%;
    background: #969696;
    position: relative;
}

div#container {
    float: left;
    width: 100%;
    height: 100vh;
}

section#home {
	/* background: url(/bundles/dhmain/images/mainImage.jpg);*/
    background: url(http://3.bp.blogspot.com/-uuBzhCyCnww/UO_QNX8MDPI/AAAAAAAABXc/cDCVFoocsDk/s1600/Linux+Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nameWrapper {
    text-align: center;
    line-height: 20vh;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

span.firstName {
    background: #ec6f4f;
    padding: 10px;
}

span.lastName {
    background: #222222;
    padding: 10px;
    color: white !important;
}

.postsWrapper {
    bottom: 75px;
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePost {
    width: 25%;
    height: 100%;
    padding: 10px;
}

.homePost:hover {
    transform: scale(1.1);
    transition: all .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.title {
    height: 100%;
    width: 100%;
    background: #ec6f4f;
    text-align: center;
    line-height: 300px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    border: 2px solid #ec6f4f;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.aboutLeft {
    width: calc(50%);
    height: 100%;
    float: left;
    /* background: #909090; */
	background: url(https://c3.staticflickr.com/8/7040/6843750794_99e6fd65e7_h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.aboutRight {
    width: calc(50%);
    height: 100%;
    float: right;
    background: #ffffff;
    color: black;
    overflow: scroll;
}

.fa.fa-arrow-down.arrow {
    position: fixed;
    font-size: 30px;
    color: white !important;
    z-index: 2;
    bottom: calc(100% - 100vh + 20px);
    right: 30px;
}

.fa.fa-arrow-up.arrow {
    position: fixed;
    font-size: 30px;
    color: white !important;
    z-index: 2;
    bottom: calc(100% - 100vh + 50px);
    right: 30px;
}

.aboutInner {
    padding: 50px;
}


h1.titleAbout {
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 5px solid #ec6f4f;
}

.introText {
    padding-top: 30px;
}

.aboutText {
    padding-top: 30px;
    margin-bottom: 50px;
}

ul.cvInfo {
    padding: 20px 0px;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

ul.cvInfo li {
    border-bottom: 1px solid #ececec;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    word-spacing: 0.1em;
}

.infoLeft {
    width: 50%;
    float: left;
    text-align: left;
    font-weight: bold;
    color: #909090;
}

.infoRight {
    width: 50%;
    float: right;
    text-align: right;
    color: #909090;
}

a.buttonContact {
    color: white;
    border: 3px solid #222222;
    padding: 10px;
    font-size: 23px;
    background: #222222;
    text-transform: uppercase;
    word-spacing: 0.15em;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 5px;
}

a.buttonCV {
    color: white;
    border: 3px solid #ec6f4f;
    padding: 10px;
    font-size: 23px;
    background: #ec6f4f;
    text-transform: uppercase;
    word-spacing: 0.15em;
    letter-spacing: 1px;
    font-weight: bold;
}

.portrait {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 4px solid #ec6f4f;
    padding: 10px;
    background: url(https://c1.staticflickr.com/3/2814/buddyicons/75617896@N08_r.jpg?1375813209#75617896@N08);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.dob:before {
    content: "\f007";
    font: normal normal normal 15px/1 FontAwesome;
}
.lang:before {
    content: "\f1ab";
    font: normal normal normal 15px/1 FontAwesome;
}
.skills:before {
    content: "\f135";
    font: normal normal normal 15px/1 FontAwesome;
}
.hobbies:before {
    content: "\f1e3";
    font: normal normal normal 15px/1 FontAwesome;
}
.website:before {
    content: "\f14c";
    font: normal normal normal 15px/1 FontAwesome;
}

a.scrolllock {
    position: fixed;
    font-size: 30px;
    color: white !important;
    z-index: 2;
    bottom: calc(100% - 100vh + 80px);
    right: 30px;
}

.bottomhalf {
    background: white;
    height: 50%;
    padding: 80px 0 130px;
}

.nameWrapper.tophalf {
    background: #001a29;
    height: 50%;
}
.container.tophalf {
    background: #123145;
    width: 100%;
    height: 50%;
    text-align: center;
    background: url(/bundles/dhmain/images/mainImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2.sectionTitle {
    font-family: "league-gothic-1","league-gothic-2", HelveticaNue, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    top: -116px;
    font-weight: normal;
}
span.titleText {
    background: #ec6f4f;
    padding: 10px;
    font-weight: bold;
    letter-spacing: -2px;
}