<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}David Holleman | Technology{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/dhmain/css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
        <script src="{{ asset('/bundles/dhmain/js/main.js') }}"></script>
    </head>
    <body>
    <div class="mainWrapper"> <!-- mainWrapper -->
        <div class="navMenuWrapper"> <!-- Sidebar Nav menu -->
            <div class="navMenu">
                <ul class="navBlock">
                    <li class="navLi" style="background: #ec6f4f;"><a class="fa fa-bars dhNav" aria-hidden="true" href="#home"></a></li> <!-- Menu -->
                    <li class="navLi" ><a class="fa fa-home dhNav" aria-hidden="true" href="#home"></a></li> <!-- Home -->
                    <li class="navLi" ><a class="fa fa-user dhNav" aria-hidden="true" href="#about"></a></li> <!-- About -->
                    <li class="navLi" ><a class="fa fa-rocket dhNav" aria-hidden="true" href="#exp"></a></li> <!-- Experience -->
                    <li class="navLi" ><a class="fa fa-file-text dhNav" aria-hidden="true" href="#portfolio"></a></li> <!-- Portfolio -->
                    <li class="navLi" ><a class="fa fa-envelope dhNav" aria-hidden="true" href="#contact"></a></li> <!-- Contact -->
                </ul>
            </div>
            <div class="navBarFooter"> <!-- Facebook social media icon -->
                <ul>
                    <li><a class="fa fa-linkedin-square" aria-hidden="true" href="https://nl.linkedin.com/in/david-holleman-b09359116" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>