{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentWrapper">
        <div id="container">    
       		<section class="sectionStyle frontPage" id="home"></section>  		
        </div>
        <div id="container">    
       		<section class="sectionStyle about" id="about">About</section>  		
        </div>
        <div id="container">    
       		<section class="sectionStyle exp" id="exp">Experience</section>  		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="portfolio">Portfolio</section>  		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="contact">Contact</section>  		
        </div>
    </div>
{% endblock %}