{% extends 'base.html.twig' %}



{% block body %}

    {% block stylesheets %}
        <link href="{{ asset('/css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    <div id="wrapper">
        <div id="container">    
        	Home

        </div>
    </div>
{% endblock %}